/* form css */
.spz_5002_v5 .form.standard-form:not(.magic-funnel-signup-form):not(.magic-funnel-entry-point-form) {
    border: none !important;
    padding: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.spz_5002_v5 .MuiInputBase-root {
    height: 56px !important;
    max-height: 56px !important;
    min-height: 56px !important;
    padding: 0 !important;
}

.spz_5002_v5 .MuiInputBase-root>.MuiInputAdornment-root {
    position: absolute;
    right: 8px;
}

.spz_5002_v5 .MuiInputBase-root>.MuiInputAdornment-root [aria-label="toggle password visibility"] {
    padding: 8px !important;
}

.spz_5002_v5 .MuiInputBase-root>.MuiInputAdornment-root svg {
    width: 20px;
    height: 20px;
}

.spz_5002_v5 .MuiInputBase-root>.MuiInputAdornment-root svg[data-testid="CheckCircleIcon"] {
    display: none;
}

.spz_5002_v5 .MuiInputBase-root input {
    height: 100%;
    padding: 16px 15px;
    border-radius: 12px !important;
    border: 1px solid #E4E9F1 !important;
    background: #FFF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #0F141C;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: auto !important;
}

.spz_5002_v5 .MuiInputBase-root input#new-password {
    padding-right: 40px;
}

.spz_5002_v5 .MuiInputBase-root input#tel {
    border-radius: 0 12px 12px 0 !important;
    padding-left: 12px;
}

.spz_5002_v5 .MuiInputBase-root input:hover {
    border-color: #D1D9E6 !important;
}

.spz_5002_v5 .MuiInputBase-root.Mui-error input {
    border-color: #E53935 !important;
}

.spz_5002_v5 .form__error-message {
    border-color: #E53935;
    width: 100%;
}

.spz_5002_v5 .form__error-message--alert-circle {
    background: #E53935;
}

.spz_5002_v5 .form__error-message--messaging {
    color: #E53935;
}

.spz_5002_v5 .MuiInputBase-root input~fieldset {
    border: none !important;
}

.spz_5002_v5 .material-ui-gdpr-checkbox-field {
    margin-bottom: 20px !important;
}

.spz_5002_v5 .form .material-ui-checkbox-field .text-block p {
    color: #63708A;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
}

.spz_5002_v5 .form .material-ui-checkbox-field .text-block p b {
    font-weight: 700;
}

.spz_5002_v5 [data-qe-id="buy-form-em-pwd-v2-pricing-gdpr-opt-out-eu-true"] {
    width: 20px;
    height: 20px;
    display: block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 0;
    margin-right: 12px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><rect x="0.75" y="0.75" width="18.5" height="18.5" rx="3.25" fill="white" stroke="%23D1D9E6" stroke-width="1.5"/></svg>');
    background-size: cover;
    border-radius: 0;
    background-repeat: no-repeat;
    background-position: center;
}

.spz_5002_v5 .Mui-checked[data-qe-id="buy-form-em-pwd-v2-pricing-gdpr-opt-out-eu-true"] {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><rect width="20" height="20" rx="4" fill="%231856ED"/><path d="M5 10.3636L8.125 14L15 6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

.spz_5002_v5 [data-qe-id="buy-form-em-pwd-v2-pricing-gdpr-opt-out-eu-true"] svg {
    display: none;
}

.spz_5002_v5 .material-ui-checkbox-label-gdpr-opt-out-eu-true .text-block {
    padding-top: 0 !important;
}

.spz_5002_v5 .sign-up-form-legal-t-cs-gdpr-conditional-via-page-html,
.spz_5002_v5 .material-ui-checkbox-label-gdpr-opt-out-eu-true {
    margin: 0;
}

.spz_5002_v5 .sign-up-form-legal-t-cs-gdpr-conditional-via-page-html {
    margin-top: 8px;
}

.spz_5002_v5 .sign-up-form-legal-t-cs-gdpr-conditional-via-page-html p {
    color: #63708A;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.spz_5002_v5 input::-webkit-input-placeholder {
    color: transparent !important;
    opacity: 0 !important;
}

.spz_5002_v5 input::-moz-placeholder {
    color: transparent !important;
    opacity: 0 !important;
}

.spz_5002_v5 input:-ms-input-placeholder {
    color: transparent !important;
    opacity: 0 !important;
}

.spz_5002_v5 input::-ms-input-placeholder {
    color: transparent !important;
    opacity: 0 !important;
}

.spz_5002_v5 input::placeholder {
    color: transparent !important;
    opacity: 0 !important;
}

.spz_5002_v5 .field input:not([type=radio]):not([type=checkbox]):not(.MuiInputBase-input) {
    height: 100% !important;
}

.spz_5002_v5 .field__select-wrapper {
    max-height: 56px !important;
}

.spz_5002_v5 .field .country-code__select {
    width: 116px !important;
    border-radius: 12px 0 0 12px;
    border: 1px solid #E4E9F1;
    border-right: 0;
    position: relative;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M5 7.5L10 12.5L15 7.5" stroke="%2363708A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    background-repeat: no-repeat;
    background-position: right 12px center;
}

.spz_5002_v5 .field .country-code__select::after {
    content: '';
    position: absolute;
    top: 14px;
    right: 0;
    width: 1px;
    height: 26px;
    border: 1px solid #E4E9F1;
}

.spz_5002_v5 #siteContactCountryCode {
    padding-left: 16px !important;
}

.spz_5002_v5 .field .country-code__select .MuiOutlinedInput-notchedOutline {
    border-right: none;
}

.spz_5002_v5 .label-spz {
    position: absolute;
    top: 16px;
    left: 10px;
    z-index: 1;
    padding: 0 6px;
    background: #FFF;
    color: #63708A;
    pointer-events: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 24px;
    letter-spacing: 0;
}

.spz_5002_v5 .label-spz.label-spz-tel {
    left: 5px;
}

.spz_5002_v5 .field__tel-wrapper:hover .country-code__select,
.spz_5002_v5 .field__tel-wrapper:hover input {
    border-color: #D1D9E6 !important;
}

.spz_5002_v5 .MuiInputBase-root.Mui-focused input,
.spz_5002_v5 .field__tel-wrapper:has(.MuiInputBase-root.Mui-focused) .country-code__select,
.spz_5002_v5 .field__tel-wrapper:has(.country-code__select.Mui-focused) #tel {
    border-color: #1856ED !important;
}

.spz_5002_v5 .MuiInputBase-root.Mui-error input,
.spz_5002_v5 .field__tel-wrapper:has(.MuiInputBase-root.Mui-error) .country-code__select,
.spz_5002_v5 .field__tel-wrapper:has(.country-code__select.Mui-error) #tel {
    border-color: #E53935 !important;
}

.spz_5002_v5 .MuiInputBase-root.Mui-focused .label-spz,
.spz_5002_v5 .MuiFormLabel-filled+.MuiInputBase-root .label-spz {
    font-size: 12px;
    line-height: 16px;
    top: -8px;
    color: #0F141C;
}

.spz_5002_v5 .MuiInputBase-root.Mui-focused .label-spz.label-spz-tel,
.spz_5002_v5 .MuiFormLabel-filled+.MuiInputBase-root .label-spz.label-spz-tel {
    left: -106px;
}

.spz_5002_v5 .country-code__text {
    display: none;
}

.spz_5002_v5 .field .country-code__label img {
    margin-right: 8px;
    margin-left: 4px;
    max-width: 20px !important;
}

.spz_5002_v5 .field .country-code__value {
    color: #63708A;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}

.spz_5002_v5 .field:has(.field__tel-wrapper>div:last-child label.MuiFormLabel-filled) .country-code__value,
.spz_5002_v5 .field:has(.field__tel-wrapper>div:last-child label.Mui-focused) .country-code__value {
    color: #0F141C;
}

.spz_5002_v5 [data-testid="ArrowDropDownIcon"] {
    display: none !important;
}

.spz_5002_v5 .sign-up-form-visible-legal-t-cs,
.spz_5002_v5 .sign-up-form-visible-legal-t-cs-v-2-pricing {
    margin: 0;
}

.spz_5002_v5 .sign-up-form-visible-legal-t-cs-v-2-pricing {
    margin-top: 4px;
}

.spz_5002_v5 .sign-up-form-visible-legal-t-cs p,
.spz_5002_v5 .sign-up-form-visible-legal-t-cs-v-2-pricing p {
    color: #63708A;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.spz_5002_v5.spz_firefox .sign-up-form-visible-legal-t-cs p {
    font-size: 14px;
}

.spz_5002_v5 .sign-up-form-visible-legal-t-cs p a,
.spz_5002_v5 .sign-up-form-visible-legal-t-cs-v-2-pricing p a {
    text-decoration: none;
    color: #1856ED;
}

.spz_5002_v5 .sign-up-form-visible-legal-t-cs p a:hover,
.spz_5002_v5 .sign-up-form-visible-legal-t-cs-v-2-pricing p a:hover {
    color: #FFFFFF;
}

/* error */
.spz_5002_v5 .message.message--error {
    margin-top: 4px;
}

.spz_5002_v5 .message.message--error p {
    color: #E53935;
    font-style: normal;
    font-weight: 400;
    line-height: 16px !important;
    padding-top: 3px;
}

.spz_5002_v5 .form-headers {
    width: 100%;
    text-align: center;
    margin-bottom: 24px;
}

.spz_5002_v5 .form-headers .company_logo {
    display: block;
    margin: 0 auto 24px;
}

.spz_5002_v5 .form-headers .form-headline {
    color: #0F141C;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 8px;
}

.spz_5002_v5.spz_buynow_page .form-headers .form-headline {
    margin-bottom: 0;
}

.spz_5002_v5 .form-headers .form-subheadline {
    color: #63708A;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.spz_5002_v5 .form-headers>.text-block {
    display: none;
}

.spz_5002_v5 .form .form-fields-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.spz_5002_v5 .field.material-ui-field {
    max-width: calc(50% - 10px) !important;
    width: 100% !important;
    margin-bottom: 20px !important;
}

.spz_5002_v5 .field.material-ui-field:has(.field__password-wrapper .Mui-focused),
.spz_5002_v5 .field.material-ui-field .field__password-wrapper:has(.mui-tooltip-error-message-container) {
    margin-bottom: 10px !important;
}

.spz_5002_v5 .field.material-ui-field[data-attr-form-field-id="tel"] {
    max-width: 100% !important;
}

.spz_5002_v5 [type="submit"] {
    width: 100%;
    height: 56px;
    font-size: 0;
    margin-top: 16px !important;
    background: #1856ED;
    border-radius: 52px;
    outline: none;
}

.spz_5002_v5 [type="submit"] .loading--small circle {
    stroke: #FFF;
}

.spz_5002_v5 [type="submit"]::after {
    content: 'Instant Access';
    color: #FFF;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}

.spz_5002_v5.spz_buynow_page [type="submit"]::after {
    content: 'Create my account';
}

.spz_5002_v5 [type="submit"] .cta-lock-icon {
    display: none;
}

.spz_5002_v5 [type="submit"]:hover,
.spz_5002_v5 [type="submit"]:active {
    background: #1330BF;
}

.spz_5002_v5 .form__text-after-cta {
    color: #63708A;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
    width: 100%;
}

.spz_5002_v5 .form__text-after-cta a {
    color: #1856ED;
    text-decoration: none !important;
    outline: none;
}

.spz_5002_v5 .form__text-after-cta a:hover,
.spz_5002_v5 .form__text-after-cta a:active {
    background: #1856ed;
    color: #FFF;
}

/* custom field  */
.spz_5002_v5 .custom_field_wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.spz_5002_v5 .custom_field_wrapper>div {
    position: relative;
    max-width: calc(50% - 10px);
    width: 100%;
    margin-bottom: 16px;
}

.spz_5002_v5 .custom_field_wrapper>div #phone {
    width: 100%;
    padding-left: 124px !important;
}

.spz_5002_v5 .custom_field_wrapper>div>.iti {
    width: 100%;
}

.spz_5002_v5 .custom_field_wrapper input {
    height: 56px;
    width: 100%;
    outline: none;
    padding: 16px 15px;
    border-radius: 12px;
    border: 1px solid #E4E9F1;
    background: #FFF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #0F141C;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: auto;
}

.spz_5002_v5 .custom_field_wrapper input:-webkit-autofill,
.spz_5002_v5 .custom_field_wrapper input:-webkit-autofill:hover,
.spz_5002_v5 .custom_field_wrapper input:-webkit-autofill:focus,
.spz_5002_v5 .custom_field_wrapper input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: #0F141C !important;
    caret-color: #0F141C;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
}


.spz_5002_v5 .custom_field_wrapper input:hover {
    border-color: #D1D9E6;
}

.spz_5002_v5 .input_wrapper.focus input,
.spz_5002_v5 .custom_field_wrapper>div.phone_field:has(.iti__selected-flag[aria-expanded="true"]) #phone {
    border-color: #1856ED;
}

.spz_5002_v5 .input_wrapper.error input,
.spz_5002_v5 .custom_field_wrapper>div #phone.invalid {
    border-color: #E53935;
}

.spz_5002_v5 .input_wrapper.focus label,
.spz_5002_v5 .input_wrapper.has-value label {
    font-size: 12px;
    line-height: 16px;
    top: -8px;
    color: #0F141C;
}

.spz_5002_v5 .phone_field .label-spz {
    left: 116px;
}

.spz_5002_v5 .input_wrapper.focus .label-spz[for="phone"],
.spz_5002_v5 .input_wrapper.has-value .label-spz[for="phone"] {
    left: 12px;
}

.spz_5002_v5 .iti--separate-dial-code .iti__selected-flag {
    background-color: transparent !important;
    padding-left: 16px;
    position: relative;
    min-width: 106px;
    outline: none;
}

.spz_5002_v5 .iti--separate-dial-code .iti__selected-flag::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 24px;
    top: 15px;
    right: -6px;
    border: 1px solid #E4E9F1;
}

.spz_5002_v5 .iti--separate-dial-code.iti--show-flags .iti__selected-dial-code {
    margin-left: 8px;
    color: #63708A;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.spz_5002_v5 .iti__country-list {
    -webkit-transform: translateY(4px);
        -ms-transform: translateY(4px);
            transform: translateY(4px);
}

.spz_5002_v5 .iti__country {
    font-size: 1rem;
    line-height: 100%;
    font-weight: 400;
}

.spz_5002_v5 .iti__arrow {
    position: absolute;
    right: 4px;
    border: none;
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M5 7.5L10 12.5L15 7.5" stroke="%2363708A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    margin-left: 8px;
}

.spz_5002_v5 .iti__selected-flag[aria-expanded="true"] .iti__arrow {
    transform: rotate(180deg);
}

/* Hide custom error when Material-UI's error message also exists */
.spz_5002_v5 .field.material-ui-field.error:has(.message--error) .error-spz{
    display: none !important;
}

.spz_5002_v5 .field.material-ui-field.error .error-spz,
.spz_5002_v5 .custom_field_wrapper .error-spz {
    color: #E53935;
    font-family: 'CTCTDisplay';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-top: 4px;
    line-height: 16px;
    display: flex;
}
.spz_5002_v5 .field.material-ui-field.error .error-spz svg,
.spz_5002_v5 .custom_field_wrapper .error-spz svg {
    margin-right: 5px;
    flex-shrink: 0;
}
.spz_5002_v5 .field.material-ui-field.error .error-spz span,
.spz_5002_v5 .custom_field_wrapper .error-spz span {
    padding-top: 4px;
}

/*
.spz_5002_v5 .custom_field_wrapper .first_name_field.has-value .error-spz {
    display: none;
}
*/

.spz_5002_v5 .custom_field_wrapper .first_name_field.has-value:not(.error) .error-spz {
    display: none;
}

.spz_5002_v5 .spz_dummy_cta {
    width: 100%;
    height: 56px;
    margin-top: 16px !important;
    background: #1856ED;
    border-radius: 52px;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    color: #FFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.spz_5002_v5 .spz_dummy_cta:hover,
.spz_5002_v5 .spz_dummy_cta:focus,
.spz_5002_v5 .spz_dummy_cta:active {
    background: #1330BF;
}

.spz_5002_v5 [type="submit"],
.spz_5002_v5 form.submitting .spz_dummy_cta {
    display: none !important;
}

.spz_5002_v5 form.submitting [type="submit"] {
    display: flex !important;
}

@media(max-width: 767px) {
    .spz_5002_v5 .spz_modal_inner {
        padding: 16px;
    }

    .spz_5002_v5 .spz_modal_inner .form_wrap {
        margin: 0 auto;
        padding: 24px 16px;
    }

    .spz_5002_v5 .form-headers {
        margin-bottom: 24px !important;
    }

    .spz_5002_v5 .form-headers .company_logo {
        width: 111px;
    }

    .spz_5002_v5 .form-headers .form-headline {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 4px;
    }

    .spz_5002_v5 .form-headers .form-subheadline {
        font-size: 14px;
        line-height: 22px;
    }

    .spz_5002_v5 .spz_privacy_policy {
        margin-top: 8px;
    }

    .spz_5002_v5 .sign-up-form-visible-legal-t-cs p {
        padding: 0 2px;
    }

    .spz_5002_v5 .sign-up-form-visible-legal-t-cs-v-2-pricing {
        margin-top: 8px;
    }

    .spz_5002_v5 .field.material-ui-field {
        max-width: 100% !important;
        margin-bottom: 16px !important;
    }

    .spz_5002_v5 [type="submit"] {
        margin-top: 24px !important;
    }

    .spz_5002_v5 .form__text-after-cta {
        margin-top: 16px;
        font-size: 14px;
        line-height: 22px;
    }

    .spz_5002_v5 .form__text-after-cta a {
        display: block;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        margin: 0 auto;
    }

    .spz_5002_v5 .custom_field_wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .spz_5002_v5 .custom_field_wrapper>div {
        max-width: 100%;
        margin-bottom: 12px;
    }
}

/* Test Update */
.spz_5002_v5 #v-2-pricing-form-one-column {
    padding-top: 102px;
}

.spz_5002_v5 .column-wrapper__ctct-v2-pricing-form-outer-wrapper {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.spz_5002_v5 .column-wrapper__ctct-v2-pricing-form-outer-wrapper>.column-wrapper__inner-grid {
    -ms-grid-column: auto;
    grid-column-start: auto;
    grid-column-end: auto;
}

.spz_5002_v5 .ctct-form-outer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.spz_5002_v5 .ctct-form-inner-wrapper {
    border-radius: 16px;
    background: #FFF;
    -webkit-box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.10), 0 2px 4px -2px rgba(0, 0, 0, 0.06);
    box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.10), 0 2px 4px -2px rgba(0, 0, 0, 0.06);
    max-width: 612px;
    width: 100%;
    margin: 0 auto;
    padding: 40px;
}

.spz_5002_v5.spz_buynow_page .form-headers .form-headline {
    margin-bottom: 0 !important;
}

.spz_5002_v5 .form__text-after-cta {
    display: none;
}

@media(max-width: 991.98px) {
    .spz_5002_v5 #v-2-pricing-form-one-column {
        padding-top: 67px;
    }
}

@media(max-width: 767.98px) {
    .spz_5002_v5 #v-2-pricing-form-one-column {
        padding-top: 32px;
    }

    .spz_5002_v5 .ctct-form-inner-wrapper {
        padding: 24px 16px;
    }

    .spz_5002_v5 .form-headers .form-headline {
        font-size: 24px;
        line-height: 32px;
    }
}