.spz_9001_v2 .spz-bg-wrap {
	background: 
		url('https://res.cloudinary.com/spiralyze/image/upload/f_auto/constantcontact/9001/ui_1440-768_1.webp') no-repeat center bottom,
		url('https://res.cloudinary.com/spiralyze/image/upload/f_auto/constantcontact/9001/hero_back_1440.webp') no-repeat center top / cover;
	background-size: 1440px 356px, cover;

	padding-top: 56px;
	padding-bottom: 356px;
}

.spz_9001_v2 #au-homepage-hero-section,
.spz_9001_v2 #ca-homepage-hero-section,
.spz_9001_v2 section:has(#centered-cta-signupform),
.spz_9001_v2 #nz-homepage-hero-section{
    padding: 0;
}

.spz_9001_v2 .column-content__eyebrow{
	text-align: center;
	margin-bottom: 15px;
}

.spz_9001_v2 .spz-bg-wrap .content-section {
	max-width: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 0;
	font-family: 'CTCTDisplay', sans-serif;
}

.spz_9001_v2 .spz-bg-wrap img {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

/* Trustpilot Section */
.spz_9001_v2 .trust-badge {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	margin-bottom: 21px;
    transform: translateY(-1px);
}

.spz_9001_v2 .spz-baseline-rating{
    display: flex;
	align-items: center;
}

.spz_9001_v2 .spz-baseline-rating > span:nth-child(2){
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	margin-left: 8px;
}

.spz_9001_v2 .spz-baseline-rating > span:nth-child(3){
	color: rgba(255, 255, 255, 0.80);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin-left: 4px;
}

/* Heading Styles */
.spz_9001_v2 .spz-bg-wrap .content-heading {
	color: #FFF;
	font-size: 44px;
	font-style: normal;
	font-weight: 700;
	line-height: 52px;
	margin: 0 64px 32px 64px;
    letter-spacing: -0.08px;
}

.spz_9001_v2 .spz-splitter-block{
    display: block;
}

.spz_9001_v2 .spz-bg-wrap .content-subheading {
	color: rgba(255, 255, 255, 0.80);
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	margin-bottom: 40px;
    letter-spacing: -0.08px;
}

/* Tiles Section */
.spz_9001_v2 .tiles-wrap {
	margin-left: auto;
	margin-right: auto;
	margin: 0 32px 32px 32px;
}

.spz_9001_v2 .tiles-wrap .tiles-heading {
	display: none;
}

.spz_9001_v2 .tiles-wrap .tiles-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 17px;
}

.spz_9001_v2 .tiles-wrap .tile-item {
  width: 157px;
  max-width: 157px;
  display: flex;
  height: 140px;
  padding: 24px 12px 20px 12px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: 1px solid #E4E9F1;
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(16px);
  position: relative;
  user-select: none;
  cursor: pointer;
  box-shadow: none !important;
  text-align: center;
  box-sizing: border-box;
}

.spz_9001_v2 .tiles-wrap .tile-item:hover {
  background: linear-gradient(180deg, rgba(0, 74, 255, 0.32) -18.93%, rgba(0, 74, 255, 0.08) 73.6%), #FFF;
  border-color: #E4E9F1;
}

.spz_9001_v2 .tiles-wrap .tile-item.active {
  background: linear-gradient(180deg, rgba(0, 74, 255, 0.32) -18.93%, rgba(0, 74, 255, 0.08) 73.6%), #FFF;
  border: 1px solid transparent;
  background-clip: padding-box;
  position: relative;
}

.spz_9001_v2 .tiles-wrap .tile-item.active::before {
  content: '';
  position: absolute;
  inset: -1px;
  border-radius: 12px;
  background: linear-gradient(90deg, #1856ED 0%, #D9F2FF 100%);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  z-index: -1;
  padding: 1px;
}
 
.spz_9001_v2 .tiles-wrap .spz-tiles-check {
	position: absolute;	
	top: 8px;
	left: 8px;
	width: 20px;
	height: 20px;
	border-radius: 6px;
	z-index: 2;
}

.spz_9001_v2 .tiles-wrap .spz-tiles-check > svg > path{
	opacity: 0;
	transform: translateX(-1px);
}

.spz_9001_v2 .tiles-wrap .tile-item.active .spz-tiles-check > svg > path{
	opacity: 1;
	fill: none;
}

.spz_9001_v2 .tiles-wrap .spz-tiles-check > svg > rect{
	fill: none;
	stroke-width: 1.5;
}

.spz_9001_v2 .tiles-wrap .tile-item:hover .spz-tiles-check > svg > rect{
	stroke: #1856ED;
}

.spz_9001_v2 .tiles-wrap .tile-item.active .spz-tiles-check > svg > rect{
	fill: #1856ED;
	stroke: #1856ED;
}

.spz_9001_v2 .tiles-wrap .wrap-tile-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.spz_9001_v2 .tiles-wrap .tile-image {
	margin-bottom: 16px;
}

.spz_9001_v2 .tiles-wrap .tile-heading {
	color: #FFF;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 0;
	height: 48px;
}

.spz_9001_v2 .tiles-wrap .tile-item .tile-heading{
	width: 99%;
}

.spz_9001_v2 .tiles-wrap .tile-item:nth-child(7) .tile-heading {
	width: 100%;
}

.spz_9001_v2 .tiles-wrap .tile-item:nth-child(6) .tile-heading{
	width: 80%;
}

.spz_9001_v2 .tiles-wrap .tile-description {
	font-family: 'CTCTDisplay', sans-serif;
	color: #FFF;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.spz_9001_v2 .tiles-wrap .tile-item:hover .tile-heading,
.spz_9001_v2 .tiles-wrap .tile-item.active .tile-heading,
.spz_9001_v2 .tiles-wrap .tile-item:hover .tile-description,
.spz_9001_v2 .tiles-wrap .tile-item.active .tile-description {
	color: #0F141C;
}

.spz_9001_v2 .tiles-wrap .tile-item:hover .tile-image,
.spz_9001_v2 .tiles-wrap .tile-item.active .tile-image {
	filter: brightness(0) saturate(100%) invert(18%) sepia(97%) saturate(4108%) hue-rotate(234deg) brightness(100%) contrast(103%);
}

/* Form Styles */
.spz_9001_v2 #centered-cta-signupform {
	margin-top: 0px;
	justify-content: center;
	font-family: 'CTCTDisplay', sans-serif;
}

.spz_9001_v2 #centered-cta-signupform .spz_form_wrapper > div:nth-child(2) > p {
	display: none !important;
}
.spz_9001_v2 #centered-cta-signupform .spz_form_wrapper{
	border-radius: 12px;
	border: 1px solid #D1D9E6;
	display: flex;
	height: 56px;
	width: 404px !important;
}

.spz_9001_v2 #centered-cta-signupform .spz_form_wrapper > div:nth-child(1) {
	flex: 1 !important;
}

.spz_9001_v2 #centered-cta-signupform .spz_form_wrapper > div:nth-child(2) {
	width: 144px !important;
}

.spz_9001_v2 #centered-cta-signupform .spz_form_wrapper > div:nth-child(1) > input {
	height: 100%;
	width: 100%;
	font-size: 16px;
	padding: 16px !important;
	border-radius: 11px 0 0 11px;
	border: 0 !important;
	background: #FFF;
	box-shadow: none !important;
	margin-bottom: 0;
	overflow: hidden !important;
	text-overflow: ellipsis !important;

	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.spz_9001_v2 #centered-cta-signupform .spz_form_wrapper > div:nth-child(1) > input:-webkit-autofill{
	-webkit-box-shadow: 0 0 0 1000px #fff inset !important;
  	box-shadow: 0 0 0 1000px #fff inset !important;
}
.spz_9001_v2 #centered-cta-signupform .spz_form_wrapper > div:nth-child(1) > input:-webkit-autofill:focus{
	-webkit-box-shadow: 0 0 0 1000px #fff inset !important;
  	box-shadow: 0 0 0 1000px #fff inset !important;
}

.spz_9001_v2 #centered-cta-signupform .spz_form_wrapper > div:nth-child(1) > input::placeholder {
	color: #63708A !important;
	font-size: 16px !important;
	font-weight: 400 !important;
	line-height: 24px !important;
}

.spz_9001_v2 #centered-cta-signupform .spz_form_wrapper:focus-within {
    border: 1px solid #FF9E1A;
}

.spz_9001_v2 #centered-cta-signupform .spz_form_wrapper .two-step__body {
	margin-right: 0 !important;
}
.spz_9001_v2 #centered-cta-signupform .spz_form_wrapper > div:nth-child(2) > button {
	width: 100%;
	height: 100%;
	margin-bottom: 0;
	border-radius: 0 11px 11px 0;
	border: 0;
	font-size: 18px;
}

.spz_9001_v2 #centered-cta-signupform .spz_form_wrapper > div:nth-child(2) > button:focus {
	outline: none;
}

/* Interface Image Section */
.spz_9001_v2 .interface-image-wrap{
	max-width: 1440px;
	margin: 0 auto;
	background-color: #fff;
}

.spz_9001_v2 #section-partners{
	background: #fff;
}
/* Hide original sections */
.spz_9001_v2 #what-kind-of-marketer {
	padding-top: 0;
}

.spz_9001_v2 #spz-hero-image > img {
	display: none !important;
}

/* trust section */
/* .spz_9001_v2 #section-g-2-badges .text-block {
	white-space: normal !important;
} */

/* what-kind-of-marketer section padding */
.spz_9001_v2 #what-kind-of-marketer{
	padding-top: 48px !important;
}
/* ca-stats-test-section-cards */

.spz_9001_v2 #ca-section-marketing-claim-cards,
.spz_9001_v2 .conditional-wrapper,
.spz_9001_v2 #ca-stats-test-section-cards{
	display: none;
}
/*
.spz_9001_v2 #ca-stats-test-section-cards .mui-116nxae{
	background-color: #F7F9FD;
}
.spz_9001_v2 #ca-stats-test-section-cards .mui-116nxae > div{
	padding: 32px 24px !important;
}
.spz_9001_v2 #ca-stats-test-section-cards h3{
	color: #1739E5;
	margin-bottom: 4px;
}

.spz_9001_v2 #ca-stats-test-section-cards p{
	color: #0F141C;
}
* /


/* common-international-marketing-claims-section-disclaimer */

.spz_9001_v2 #common-international-marketing-claims-section-disclaimer{
	padding-top: 64px;
	padding-bottom: 32px;
}
.spz_9001_v2 #common-international-marketing-claims-section-disclaimer p{
	color: #0F141C;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin: 0;
}

.spz_9001_v2 #nz-homepage-your-success-starts-here-section,
.spz_9001_v2 #ca-homepage-your-success-starts-here-section,
.spz_9001_v2 #au-homepage-your-success-starts-here-section{
	padding-bottom: 0 !important;
}

/* Auto slider custom */
.spz_9001_v2 #spz-stats {
  overflow: hidden;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 32px;
  margin-top: 32px;
}

.spz_9001_v2 .spz_stats-body {
  display: flex;
  justify-content: center;
  gap: 64px;
  list-style: none;
  margin: 0;
  padding: 0;
  pointer-events: none;
}

.spz_9001_v2 .spz_stats-list_item {
  flex-shrink: 0;
}

.spz_9001_v2 .spz_stats-list_item > div:nth-child(1) {
	display: flex;
	align-items: center;
	gap: 12px;
}

.spz_9001_v2 .spz_stats-list_item > div:nth-child(1) strong {
	color: #FFF;
	
	font-family: "CTCTDisplay";
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: -0.08px;
}


.spz_9001_v2 .spz_stats-list_item > div:nth-child(2) {
	margin-top: 12px;
}

.spz_9001_v2 .spz_stats-list_item > div:nth-child(2) small {
	color: #FFF;
	font-family: "CTCTDisplay";
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	
	opacity: 0.8;
}

.spz_9001_v2 #nz-what-best-describes-you-section,
.spz_9001_v2 #au-what-best-describes-you-section,
.spz_9001_v2 .section-46gBgP0HGb61tEbKVxqXsX,
.spz_9001_v2 #ca-homepage-join-thousands-of-canadian-businesses-section{
	padding-top: 20px !important;
}

/* Media Queries */
@media (hover: none) and (pointer: coarse) {
  .spz_9001_v2 .tiles-wrap .tile-item:hover {
    background: rgba(255, 255, 255, 0.10);
    border-color: #E4E9F1;
  }
  
  .spz_9001_v2 .tiles-wrap .tile-item:hover .tile-heading,
  .spz_9001_v2 .tiles-wrap .tile-item:hover .tile-description {
    color: #FFF;
  }
  
  .spz_9001_v2 .tiles-wrap .tile-item:hover .tile-image {
    filter: none;
  }
  
  .spz_9001_v2 .tiles-wrap .tile-item:hover .spz-tiles-check > svg > rect {
    stroke: white;
  }

  .spz_9001_v2 .tiles-wrap .tile-item.active {
		background: linear-gradient(180deg, rgba(0, 74, 255, 0.32) -18.93%, rgba(0, 74, 255, 0.08) 73.6%), #FFF;
		border: 1px solid transparent;
		background-clip: padding-box;
		position: relative;
	}

	.spz_9001_v2 .tiles-wrap .tile-item.active::before {
		background: linear-gradient(90deg, #1856ED 0%, #D9F2FF 100%);
		-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
		-webkit-mask-composite: xor;
	}
	.spz_9001_v2 .tiles-wrap .tile-item.active .spz-tiles-check > svg > path{
		opacity: 1;
		fill: none;
	}
	.spz_9001_v2 .tiles-wrap .tile-item.active .spz-tiles-check > svg > rect{
		fill: #1856ED;
		stroke: #1856ED;
	}
	.spz_9001_v2 .tiles-wrap .tile-item.active .tile-heading,
	.spz_9001_v2 .tiles-wrap .tile-item.active .tile-description {
		color: #0F141C;
	}
	.spz_9001_v2 .tiles-wrap .tile-item.active .tile-image {
		filter: brightness(0) saturate(100%) invert(18%) sepia(97%) saturate(4108%) hue-rotate(234deg) brightness(100%) contrast(103%);
	}
}

@media(min-width: 3840px){
	.spz_9001_v2 .spz-bg-wrap {
		background: 
			url('https://res.cloudinary.com/spiralyze/image/upload/f_auto/constantcontact/9001/ui_1440-768_1.webp') no-repeat center bottom,
			url('https://res.cloudinary.com/spiralyze/image/upload/f_auto/constantcontact/1001/hero_back_1442.webp') no-repeat center top / cover;
		background-size: auto 356px, cover;

		padding-top: 56px;
		padding-bottom: 356px;
	}
	
}

@media(max-width: 1270px) {
	.spz_9001_v2 .spz-bg-wrap{
		padding-bottom: 300px;
		background-size: 100% auto, cover;
	}
	.spz_9001_v2 .tiles-wrap .tile-heading{
		height: 72px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.spz_9001_v2 .tiles-wrap .tiles-items {
		flex-wrap: nowrap;
		gap: 16px;
	}

	.spz_9001_v2 .tiles-wrap .tile-item:nth-child(6) .tile-heading,
	.spz_9001_v2 .tiles-wrap .tile-item:nth-child(7) .tile-heading {
		width: 90px;
	}
	.spz_9001_v2 .tiles-wrap .tile-item {
		justify-content: space-between;
		height: 164px;
	}
}

@media(max-width: 1100px){
	.spz_9001_v2 .spz-bg-wrap{
		padding-bottom: 255px;
	}
}

@media(max-width: 1023px) {
	.spz_9001_v2 .spz-bg-wrap {
		background: 
			url('https://res.cloudinary.com/spiralyze/image/upload/f_auto/constantcontact/9001/ui_1440-768_1.webp') no-repeat calc(50% + 22px) bottom,
			url('https://res.cloudinary.com/spiralyze/image/upload/f_auto/constantcontact/9001/hero_back_768.webp') no-repeat center top / cover;
		background-size: 860px 213px, cover;
		padding-bottom: 230px;
	}

	.spz_9001_v2 .spz-bg-wrap .content-heading{
		margin: 0 110px 32px 110px;
	}

	.spz_9001_v2 .tiles-wrap .tile-heading{
		height: 48px;
	}

	.spz_9001_v2 .tiles-wrap .tiles-items {
		flex-wrap: wrap;
		gap: 17px;
	}

	.spz_9001_v2 .tiles-wrap .tile-item .tile-heading{
		width: 95%;
	}
	
	.spz_9001_v2 .tiles-wrap .tile-item:nth-child(4) .tile-heading {
		width: 140px;
	}

	.spz_9001_v2 .tiles-wrap .tile-item:nth-child(7) .tile-heading {
		width: 100%;
	}

	.spz_9001_v2 .tiles-wrap .tile-item:nth-child(6) .tile-heading{
		width: 80%;
	}

	.spz_9001_v2 #centered-cta-signupform .spz_form_wrapper > div:nth-child(2) {
		width: 100% !important;
		min-width: 144px !important;
	}

	.spz_9001_v2 #centered-cta-signupform > div:nth-child(1) {
		width: 372px;
	}
	
	.spz_9001_v2 #spz-hero-image > img {
		margin-top: 32px;
	}
	
	.spz_9001_v2 #what-kind-of-marketer {
		padding-top: 53px;
	}
	
	.spz_9001_v2 .tiles-wrap .tile-item {
		width: 164px;
		max-width: 164px;
		justify-content: space-between;
		height: 140px;
	}
	
	.spz_9001_v2 .tiles-wrap .tiles-items{
		gap: 16px;
	}

    .spz_9001_v2 .spz-splitter-block{
        display: none;
    }
    
    .spz_9001_v2 .spz_stats-list_item {
    	flex-shrink: 1;
    	text-align: center;
	}
	
	.spz_9001_v2 .spz_stats-list_item:nth-child(1) {
		flex: 0 0 108px;
	}
	.spz_9001_v2 .spz_stats-list_item:nth-child(2) {
		flex: 0 0 147px;
	}
	.spz_9001_v2 .spz_stats-list_item:nth-child(3) {
		flex: 0 0 115px;
	}
	.spz_9001_v2 .spz_stats-list_item:nth-child(4) {
		flex: 0 0 115px;
	}
	
	.spz_9001_v2 .spz_stats-body {
	  gap: 48px;
	}
	
	.spz_9001_v2 #spz-stats {
	  padding-left: 32px;
	  padding-right: 32px;
	  padding-bottom: 24px;
	}
	
	.spz_9001_v2 .spz_stats-list_item > div:nth-child(1) {
		gap: 8px;
		justify-content: center;
	}
	
	.spz_9001_v2 .spz_stats-list_item > div:nth-child(1) strong {
		font-size: 18px;
		line-height: 26px;
		letter-spacing: 0;
	}
	
	.spz_9001_v2 .spz_stats-list_item > div:nth-child(1) img {
		width: 24px;
		height: 24px;
	}
	
	.spz_9001_v2 .spz_stats-list_item > div:nth-child(2) {
		margin-top: 8px;
	}
}

@media(max-width: 768px){
	.spz_9001_v2 .spz-bg-wrap {
		background: 
			url('https://res.cloudinary.com/spiralyze/image/upload/f_auto/constantcontact/9001/ui_1440-768_1.webp') no-repeat calc(50% + 22px) bottom,
			url('https://res.cloudinary.com/spiralyze/image/upload/f_auto/constantcontact/9001/hero_back_768.webp') no-repeat center top / cover;
		background-size: 860px 213px, cover;
		padding-bottom: 215px;
	}
}

@media(max-width: 767.98px) {
	.spz_9001_v2 #centered-cta-signupform .spz_form_wrapper{
		border: 0;
		height: 100%;
		display: block !important;
		width: 100% !important;
	}

	.spz_9001_v2 .tiles-wrap .tile-item:nth-child(4) .tile-heading{
		width: 100%;
	}
	
	.spz_9001_v2 #centered-cta-signupform {
		padding: 0 16px;
		margin-top: 20px;
	}
	
	.spz_9001_v2 #centered-cta-signupform > div:nth-child(2) {
		margin-top: 12px;
	}
	
	.spz_9001_v2 #centered-cta-signupform > div:nth-child(1),
	.spz_9001_v2 #centered-cta-signupform > div:nth-child(2) {
		width: 100% !important;
		width: 100% !important;
	}

	.spz_9001_v2 #centered-cta-signupform .spz_form_wrapper > div:nth-child(1) > input{
		border-radius: 12px;
		min-width: 100% !important;
		height: 56px;
	}

	.spz_9001_v2 .two-step__body, 
	.spz_9001_v2 .two-step__footer{
		min-width: 100% !important;
        max-width: 100% !important;
        width: 100% !important;
    }
	
	.spz_9001_v2 #centered-cta-signupform .spz_form_wrapper > div:nth-child(1) > input{
		border: 1px solid #E4E9F1 !important;
	}
	.spz_9001_v2 #centered-cta-signupform .spz_form_wrapper > div:nth-child(1) > input:focus{
		border: 1px solid #FF9E1A !important;
	}

	.spz_9001_v2 #centered-cta-signupform .spz_form_wrapper:focus-within {
		border: 0 !important;
	}
	
	.spz_9001_v2 #centered-cta-signupform .spz_form_wrapper > div:nth-child(2) > button {
		margin-top: 12px;
		width: 100% !important;
		min-width: 100% !important;
		border-radius: 52px;
		height: 56px;
	}

	.spz_9001_v2 .spz-bg-wrap {
		background:
		url('https://res.cloudinary.com/spiralyze/image/upload/f_auto/constantcontact/9001/ui_1440-768_1.webp') no-repeat calc(50% + 22px) bottom,
		url('https://res.cloudinary.com/spiralyze/image/upload/f_auto/constantcontact/9001/hero_back_360.webp') no-repeat center top / cover;
		background-size: 860px 213px, cover;
		padding-top: 32px;
		padding-bottom: 245px;
	}
	
	.spz_9001_v2 #spz-hero-image > img {
		margin-top: 20px;
	}

    .spz_9001_v2 .spz-baseline-rating{
		display: flex;
		align-items: center;
	}
	
	.spz_9001_v2 .spz-baseline-rating > span:nth-child(2),
	.spz_9001_v2 .spz-baseline-rating > span:nth-child(3){
		font-size: 14px;
		line-height: 22px;
	}

    .spz_9001_v2 .spz-baseline-rating > img{
		width: 97px !important;
		height: 16px !important;
	}
	
	.spz_9001_v2 .spz-bg-wrap .content-heading {
		margin: 0 auto;
		margin-top: 12px;
		font-size: 32px;
		line-height: 40px;
		width: 328px;
	}

	.spz_9001_v2 .spz-bg-wrap .content-subheading {
		margin-top: 20px;
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 20px;
	}

    .spz_9001_v2 .tiles-wrap{
		margin: 0 !important;
    }
	
	.spz_9001_v2 .tiles-wrap .tiles-items {
		width: 100%;
		margin: 0;
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		justify-content: start;
		gap: 8px;
		padding: 0 16px;
		scrollbar-width: none;
		-webkit-overflow-scrolling: touch;

		scroll-behavior: smooth;
	}
	
	.spz_9001_v2 .tiles-wrap .tiles-items::-webkit-scrollbar {
		display: none;
	}
	
	.spz_9001_v2 .tiles-wrap .tile-item {
		flex: 0 0 auto;
		max-width: 160px;
		min-width: 160px;
	}
    .spz_9001_v2 .trust-badge {
        margin-bottom: 0;
        transform: translateY(0)
    }
	
	.spz_9001_v2 .trust-badge img {
		width: 81px;
		height: 20px;
	}
    .spz_9001_v2 .spz-splitter-block{
        display: block;
    }

	.spz_9001_v2 #common-international-marketing-claims-section-disclaimer p{
		font-size: 14px;
	}

	.spz_9001_v2 #common-international-marketing-claims-section-disclaimer p{
		font-size: 14px;
		line-height: 22px;
	}
	
	
	.spz_9001_v2 .spz_stats-body {
	  gap: 36px;
	  will-change: transform;
	}
	.spz_9001_v2 .spz_stats-list_item {
	  flex-shrink: 0;
	}
	.spz_9001_v2 #spz-stats {
	  padding-left: 0;
	  padding-right: 0;
	  position: relative;
	}
	
	.spz_9001_v2 #spz-stats {
	  margin-top: 28px;
      padding-top: 0;
	  padding-bottom: 20px;
	  height: 76px;
	}
	
	.spz_9001_v2 #spz-stats::after {
		content: "";
		position: absolute;
		width: 85px;
		height: 100%;
		right: 0;
		top: 0;
		background: linear-gradient(90deg, rgba(14, 49, 135, 0.00) 0%, #0E3187 100%);
		z-index: 2;
		opacity: 0.2;
		
	}
	.spz_9001_v2 #spz-stats::before {
		content: "";
		position: absolute;
		width: 85px;
		height: 100%;
		left: 0;
		top: 0;
		background: linear-gradient(270deg, rgba(14, 49, 135, 0.00) 0%, #0E3187 100%);
		z-index: 2;
		opacity: 0.2;

		
	}
}

@media(max-width: 600px){
	.spz_9001_v1 .spz-bg-wrap {
		background:
			url('https://res.cloudinary.com/spiralyze/image/upload/f_auto/constantcontact/9001/ui_1440-768_1.webp')
				no-repeat calc(50% + 6px) bottom,
			url('https://res.cloudinary.com/spiralyze/image/upload/f_auto/constantcontact/9001/hero_back_360.webp')
				no-repeat center top / cover;
		background-size:
			860px 213px,
			cover;
		padding-top: 32px;
	}
}

@media(max-width: 520px) {
	.spz_9001_v2 #spz-stats::after{
		opacity: 0.5;
	}
	
	.spz_9001_v2 #spz-stats::before{
		opacity: 0.5;
	}
	.spz_9001_v2 .spz-bg-wrap {
		background:
		url('https://res.cloudinary.com/spiralyze/image/upload/f_auto/constantcontact/9001/ui_1440-768_1.webp') no-repeat calc(50% + 6px) bottom,
		url('https://res.cloudinary.com/spiralyze/image/upload/f_auto/constantcontact/9001/hero_back_360.webp') no-repeat center top / cover;
		background-size: 650px 183px, cover;
		padding-top: 32px;
		padding-bottom: 203px;
	}
}

@media(max-width: 400px) {
	.spz_9001_v2 #spz-stats::after{
		opacity: 1;
	}
	
	.spz_9001_v2 #spz-stats::before{
		opacity: 1;
	}

	.spz_9001_v2 .spz-bg-wrap {
		background:
			url('https://res.cloudinary.com/spiralyze/image/upload/f_auto/constantcontact/9001/ui_361.webp') no-repeat calc(50% + 6px) bottom,
			url('https://res.cloudinary.com/spiralyze/image/upload/f_auto/constantcontact/9001/hero_back_360.webp') no-repeat center top / cover;
		background-size: 486px 138px, cover;
		padding-top: 32px;
		padding-bottom: 152px;
	}
}