.spz_8004_v1 .hero__content{
	max-width: 624px;
	width: 100%;
}

.spz_8004_v1 .hero__content .hero__headline span.colorized{
  color: transparent !important;
  font-size: 0 !important;
  line-height: 0 !important;
}

.spz_8004_v1 .hero__content .hero__headline span.colorized::before{
	content: 'Your message deserves a megaphone.' !important;
	width: 100% !important;
	color: white !important;
	font-size: 56px !important;
	font-weight: 700 !important;
	line-height: 64px !important;
	letter-spacing: -0.08px !important;
	
}

.spz_8004_v1 .hero__content .hero__subhead span.colorized{
  color: transparent !important;
  font-size: 0 !important;
  line-height: 0 !important;
}

.spz_8004_v1 .hero__content .hero__subhead span.colorized::before{
	content: 'Get your business seen with email, social, and texts that drive results and are easy to produce.' !important;
	width: 100% !important;
	color: white !important;
	font-size: 18px !important;
	font-weight: 400 !important;
	line-height: 26px !important;
}

@media(max-width: 1356px){
	.spz_8004_v1 .hero__content{
		max-width: 400px;
	}
}

@media(max-width: 1023px){
	.spz_8004_v1 .hero__content{
		width: 100%;
		text-align: center;
		margin-bottom: 48px !important;
	}
	
	.spz_8004_v1 .hero__headline{
		max-width: 670px;
		margin: 0 auto;
	} 
	.spz_8004_v1 .hero__subhead{
		max-width: 560px;
		margin: 0 auto;
	} 
}

@media(max-width: 767.98px){
	.spz_8004_v1 .hero__content{
		margin-bottom: 40px !important;
	}
	.spz_8004_v1 .hero__content .hero__headline span.colorized::before{
		font-size: 40px !important;
		line-height: 48px !important;
	}
}