.spz_2003_v1 .spz-red-banner {
    background-color: #e61d30;
    padding: 8px 0px;
}

.spz_2003_v1 .spz-red-content {
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
}

.spz_2003_v1 .spz-red-content ul {
    display: flex;
    align-items: center;
    gap: 36px;
    margin: 0;
    height: 21px;
    list-style: none;
}

.spz_2003_v1 .spz-red-content a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    text-decoration: none;
}

.spz_2003_v1 .spz-red-content li span {
    color: #fff;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
}

.spz_2003_v1 .main-header-bar .main-header-bar-navigation .menu-item-has-children>.menu-link:after {
    display: none;
}

.spz_2003_v1 .main-header-bar {
    border: 0;
}

@media(max-width: 1023px) {
    .spz_2003_v1 .ast-site-identity {
        padding: 30px 0 34px !important;
    }

    .spz_2003_v1 header .custom-logo-link img {
        max-width: 220px !important;
        width: 220px !important;
    }

    .spz_2003_v1 .ast-button-wrap .menu-toggle.main-header-menu-toggle {
        padding: 0 23px;
    }
}

@media (max-width: 767.98px) {
    .spz_2003_v1 .spz-red-content ul {
        justify-content: space-between;
    }

    .spz_2003_v1 header .custom-logo-link img {
        max-width: 147px;
        width: 147px;
    }

    .spz_2003_v1 .ast-site-identity {
        padding: 18px 0 27px !important;
    }

    .spz_2003_v1 .ast-button-wrap .menu-toggle.main-header-menu-toggle {
        padding: 0;
    }

}