.spz_1028_v1 #block--unique-id-1311{
    background: url("https://res.cloudinary.com/spiralyze/image/upload/f_auto/pebl/1028/1440_bg.webp") no-repeat center center / cover !important;
    padding: 40px 0 30px 0 !important;
}

.spz_1028_v1 #block--unique-id-1311 > .component-content{
    max-width: 1300px !important;
    padding: 0 32px !important;
    /* min-height: auto !important; */
    min-height: none !important;
}

.spz_1028_v1 .component--form-banner.block-enhancements-contact_page_pebl_1 > .component-content .tabs-container .tabs-content .component--marketo-form .field--name-field-body{
    margin-bottom: 28px !important;
}

.spz_1028_v1 .reviews-header,
.spz_1028_v1 .navigation-container,
.spz_1028_v1 .main-text-wrap > p{
    display: none !important;
}

.spz_1028_v1 .spz__company-logo{
    max-width: 1300px;
    padding: 0 32px;
    margin: 0 auto;

    margin-bottom: 55px;
}
.spz_1028_v1 .spz__company-logo > a{
    display: block;
    width: fit-content;
}

.spz_1028_v1 .component--form-banner.block-enhancements-contact_page_pebl_1 > .component-content{
    display: flex !important;
    gap: 64px;
}

.spz_1028_v1 .tabs-container{
    background: #FEFEFE;
    padding: 36px 40px 40px 40px;
    box-shadow: 0 8px 80px 0 rgba(42, 53, 70, 0.08) !important;
    border-radius: 32px;
    flex: 0 0 540px !important;
}

.spz_1028_v1 .content-wrapper{
    padding: 0 !important;
    background: none !important;
    flex: 0 0 644px !important;
    transform: translateY(-15px);
}

.spz_1028_v1 .tabs-content{
    padding: 0 !important;
}

/* Trust badge */

.spz_1028_v1 .spz__trust-badge{
    display: flex;
    align-items: center;
    gap: 8px;
}

.spz_1028_v1 .spz__trust-badge__text-content{
    display: flex;
    align-items: center;
    gap: 4px;
}

.spz_1028_v1 .spz__trust-badge > img:nth-child(1){
    transform: translateX(3px);
}
.spz_1028_v1 .spz__trust-badge > img:nth-child(2){
    transform: translateX(3px);
}

.spz_1028_v1 .spz__trust-badge__text-content > strong{
    color: #171717;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
}

.spz_1028_v1 .spz__trust-badge__text-content > p{
    color: rgba(23, 23, 23, 0.48);
    font-size: 16px;
    font-weight: 400 !important;
    line-height: 1.5;
    transform: translateY(1px);
}

/* upper form */

.spz_1028_v1 .main-text-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.spz_1028_v1 .main-text-wrap > h1{
    color: #171717;
    font-size: 40px !important;
    font-weight: 700 !important;
    line-height: 1.1 !important;
    letter-spacing: -1px !important;

    margin-bottom: 16px !important;
}



/* Form */

.spz_1028_v1 input:-webkit-autofill{
	-webkit-box-shadow: 0 0 0 1000px #fff inset !important;
  	box-shadow: 0 0 0 1000px #fff inset !important;
}
.spz_1028_v1 input:-webkit-autofill:focus{
	-webkit-box-shadow: 0 0 0 1000px #fff inset !important;
  	box-shadow: 0 0 0 1000px #fff inset !important;
}

.spz_1028_v1 .spz__add-comment{
    display: flex;
    align-items: center;
    gap: 12px;
    transition: all 0.2s ease;
    cursor: pointer;
    user-select: none;
}
.spz_1028_v1 .spz__add-comment > p{
    color: #171717;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
}
.spz_1028_v1 .spz__add-comment:hover > svg > path{
    fill: #28A394;
    stroke: #28A394;
}
.spz_1028_v1 .spz__add-comment:hover > p{
    color: #28A394;
}

.spz_1028_v1 .spz__add-comment.temp_hide,
.spz_1028_v1 .mktoFieldHow_can_we_help__c .mktoFieldDescriptor.temp_hide {
    display: none;
}

.spz_1028_v1 .checkbox-style-indicator{
    margin-right: 12px !important;
}

.spz_1028_v1 .checkbox-style-indicator.not-checked{
    width: 22px !important;
    height: 22px !important;
    border-radius: 6px !important;
    border: 1px solid rgba(23, 23, 23, 0.48) !important;
    background: rgba(254, 254, 254, 0.84) !important;
}

.spz_1028_v1 .checkbox-style-indicator.checked{
    width: 22px !important;
    height: 22px !important;
    border-radius: 6px !important;
    border: 1px solid #171717 !important;
    background: url('https://res.cloudinary.com/spiralyze/image/upload/v1761075222/pebl/1028/check_icon.svg') no-repeat center / 14px auto, #171717 !important;
}

.spz_1028_v1 .mktoCheckboxList{
    cursor: pointer;
    width: fit-content;
}
.spz_1028_v1 .mktoCheckboxList > input{
    left: 0 !important;
    width: 22px !important;
    height: 22px !important;
}

.spz_1028_v1 .mktoCaptchaDisclaimer{
    display: none;
}

.spz_1028_v1 .mktoHtmlText {
    margin: 0 !important;
}

.spz_1028_v1 .mktoHtmlText > p{
    text-align: center;

    color: rgba(23, 23, 23, 0.48);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5 !important;
    margin: 0 !important;
    letter-spacing: 0px !important;
}
.spz_1028_v1 .mktoHtmlText > p > a{
    font-weight: 400;
    line-height: 1.5;
    text-decoration: underline;
    transition: color 0.1s ease;
}

.spz_1028_v1 .mktoHtmlText > p > a:hover{
    color: #171717;
}

.spz_1028_v1 .marketo-form-wrapper select {
    background-position: right 15px center !important;
    background-size: 12px 10px !important;
    height: 56px !important;
    padding: 20px 16px 0 20px !important;
    
    /* iOS Safari fixes */
    -webkit-appearance: none;
    appearance: none;
    -webkit-border-radius: 16px;
    border-radius: 16px;
}

.spz_1028_v1 .marketo-form-wrapper select:focus{
    line-height: 1.5;
    border-color: #28A394 !important;
    outline: none !important;
}


.spz_1028_v1 .component--marketo-form .mktoFieldWrap:not(.marketo-checkbox).marketo-focus-form-item label {
    font-size: 12px;
}


.spz_1028_v1 .marketo-form-wrapper label {
    color: rgba(23, 23, 23, 0.7) !important;
    white-space: nowrap;
    font-weight: 400;
    line-height: 1.5;
    width: fit-content !important;
    background: #fff;
}

.spz_1028_v1 .component--marketo-form .mktoFieldWrap:not(.marketo-checkbox) label{
    font-size: 16px;
    opacity: 1 !important;
    left: 20px;
    top: 17px;
}

.spz_1028_v1 .component--marketo-form .mktoFieldWrap:not(.marketo-checkbox).marketo-focus-form-item label{
    top: 9px;
}

.spz_1028_v1 .component--marketo-form .mktoFieldWrap:not(.marketo-checkbox).has-value label{
    top: 9px;
    left: 20px;
    font-size: 12px;
}

.spz_1028_v1 .marketo-form-wrapper input:not([type="checkbox"]) {
    color: #171717 !important;
    padding: 20px 16px 2px 20px !important;
    border-radius: 16px !important;
    border: 1px solid rgba(23, 23, 23, 0.12);
    background: #FEFEFE;
    height: 56px !important;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 1.5;
    
    /* iOS Safari fixes */
    -webkit-appearance: none;
    appearance: none;
    -webkit-border-radius: 16px; /* Older iOS versions */
}

.spz_1028_v1 .marketo-form-wrapper input:not([type="checkbox"]):focus {
    line-height: 1.5;
    border-color: #28A394 !important;
    outline: none !important;
    
    /* Better iOS focus handling */
    -webkit-tap-highlight-color: transparent;
}

/* .spz_1028_v1 .mktoField:focus {
  border-color: #28A394 !important;
    outline: none !important;
} */

.spz_1028_v1 .marketo-form-item{
    margin-bottom: 12px !important;
}

.spz_1028_v1 .marketo-recaptcha{
    margin-bottom: 20px !important;
    transform: scale(1);
    transform-origin: 0 0;
}

 .spz_1028_v1 .component--marketo-form .mktoButtonRow .marketo-recaptcha.customInvalid + .mktoError ~ .book-meeting-button {
        margin-top: 25px !important;
    }

.spz_1028_v1 .mktoFormRow {
    gap: 12px;
}

.spz_1028_v1 .mktoFieldPhone{
    margin-bottom: 2px !important;
}

.spz_1028_v1 .mktoFieldHow_can_we_help__c:not(:has(.spz__add-comment.temp_hide)) {
    padding: 8px 4px !important;
}
.spz_1028_v1 .mktoFieldHow_can_we_help__c textarea {
    padding: 24px 16px 0 20px !important;
    min-height: 56px !important;
    color: #171717 !important;
    border: 1px solid rgba(23, 23, 23, 0.12) !important;
    
    /* Set ALL outline properties */
    outline: 1px solid transparent !important;
    /* OR separately: */
    /* outline-width: 1px !important;
    outline-style: solid !important;
    outline-color: #28A394 !important; */
    
    font-size: 16px !important;
    font-weight: 400;
    line-height: 1.5;

    /* iOS Safari fixes */
    -webkit-appearance: none;
    appearance: none;
    border-radius: 16px;
}

.spz_1028_v1 .mktoFieldHow_can_we_help__c textarea:focus {
    outline: 1px solid #28A394 !important;
    border: 1px solid rgba(23, 23, 23, 0.12) !important;
}

.spz_1028_v1 .marketo-checkbox{
    padding: 8px 4px;
    margin-bottom: 7px !important;
}
.spz_1028_v1 .marketo-checkbox > div{
    padding: 0 !important;
    transform: translateY(1px) !important;    
}
.spz_1028_v1 .marketo-checkbox > div > label{
    color: #171717 !important;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 1.5; 
}

.spz_1028_v1 .book-meeting-button{
    display: flex;
    padding: 16px 24px !important;
    justify-content: center;
    align-items: center;
    height: 56px;
    border-radius: 20px ;
    margin-bottom: 18px !important;
}
.spz_1028_v1 .book-meeting-button > span{
    color: #171717;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
}

/* right content */

.spz_1028_v1 .spz__partners-logos{
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 36px 80px;
}

.spz_1028_v1 .spz__partners-logos > img{
    width: auto;
    height: 28px;
}

/* Footer */
.spz_1028_v1 .main-footer{
    height: 100%;
    position: relative;
    padding: 40px 0 !important;
    z-index: 2;
}
.spz_1028_v1 .main-footer .footer-header{
    display: none;
}

.spz_1028_v1 .footer-bottom{
    padding: 0 !important;
    justify-content: space-between;    
}

.spz_1028_v1 .footer-bottom > p{
    color: #FEFEFE;

    font-size: 12px;
    font-weight: 400;
    line-height: 1.5; 
}

.spz_1028_v1 .footer.main-footer .main-footer-content-wrap{
    padding-inline: 0.5rem !important;
}
.spz_1028_v1 .footer-bottom-links-wrap {
    max-width: 1300px !important;
    padding: 0 24px !important;
    padding-inline: 0 !important;
    gap: 32px;
}
.spz_1028_v1 .footer-bottom-links-wrap > a{
    color: #6B7181 !important;

    font-size: 12px !important;
    font-weight: 400;
    line-height: 1.5;

    transition: color 0.1s ease;
}
.spz_1028_v1 .footer-bottom-links-wrap > a:hover{
    color: #FEFEFE !important;
}

@media(min-height: 991px){
    .spz_1028_v1 #block--unique-id-1311{
        height: calc(100vh - 98px);
    }
}

@media (min-width: 2000px) and (min-height: 1500px) {
    .spz_1028_v1 #block--unique-id-1311{
        height: calc(100vh - 147px);
    }

    .spz_1028_v1 #block--unique-id-1311 > .component-content{
        transform: scale(1.5);
        align-items: center;
        height: auto !important;
        min-height: auto !important;
        margin-top: 250px;
    }
    .spz_1028_v1 .spz__company-logo{
        transform: scale(1.5);
        margin-top: 40px;
    }
    .spz_1028_v1 .main-footer-content-wrap{
        max-width: 1900px !important;
    }
    .spz_1028_v1 .main-footer{
        padding: 60px 0 !important;
    }

    .spz_1028_v1 .footer-bottom-links-wrap > a{
        font-size: 18px !important;
    }
    .spz_1028_v1 .footer-bottom-copyright-wrap{
        font-size: 18px !important;
    }
}

@media (min-width: 2561px) and (min-height: 2000px) {
    .spz_1028_v1 #block--unique-id-1311{
        height: calc(100vh - 196px);
    }

    .spz_1028_v1 #block--unique-id-1311 > .component-content{
        transform: scale(2);
        align-items: center;
        height: auto !important;
        min-height: auto !important;
        margin-top: 480px;
    }
    .spz_1028_v1 .spz__company-logo{
        transform: scale(2);
        margin-top: 70px;
    }
    .spz_1028_v1 .main-footer-content-wrap{
        max-width: 2520px !important;
    }
    .spz_1028_v1 .main-footer{
        padding: 80px 0 !important;
    }

    .spz_1028_v1 .footer-bottom-links-wrap > a{
        font-size: 24px !important;
    }
    .spz_1028_v1 .footer-bottom-copyright-wrap{
        font-size: 24px !important;
    }
}

@media (max-width: 1439px) {
   .spz_1028_v1 .tabs-container{
        flex: 0 1 577px !important;
    }
    .spz_1028_v1 .content-wrapper{
        flex: 0 1 644px !important;
    } 
}

@media(max-width: 1023px){
    .spz_1028_v1 #block--unique-id-1311{
        background: url("https://res.cloudinary.com/spiralyze/image/upload/f_auto/pebl/1028/container_1443.webp") no-repeat center center / cover !important;
        padding: 40px 0 10px 0 !important;
        height: auto !important;
    }
    .spz_1028_v1 #block--unique-id-1311 > .component-content{
        padding: 0 24px !important;
    }   
    .spz_1028_v1 .spz__company-logo{
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
    .spz_1028_v1 .component--form-banner.block-enhancements-contact_page_pebl_1 > .component-content{
        flex-direction: column;
        gap: 48px;
    }

    .spz_1028_v1 .tabs-container{
        flex: 1 1 auto !important;
    }

    .spz_1028_v1 .content-wrapper{
        flex: 1 1 auto !important;
        transform: translateY(0px);
        padding: 0 38px !important;
    }

    .spz_1028_v1 .footer-bottom{
        flex-direction: column;
        gap: 32px;
    }   
    .spz_1028_v1 .footer-bottom-links-wrap{
        gap: 56px;
    }
    .spz_1028_v1 .mktoFieldPhone{
        margin-bottom: 0 !important;
    }  
    .spz_1028_v1 .spz__trust-badge__text-content > p{
        transform: translateY(1px);
    }
}

@media(max-width: 767.98px){
    .spz_1028_v1 #block--unique-id-1311{
        background: url("https://res.cloudinary.com/spiralyze/image/upload/f_auto/pebl/1028/container_1441.webp") no-repeat center center / cover !important;
        padding: 40px 0 10px 0 !important;
    }
    .spz_1028_v1 .component--form-banner.block-enhancements-contact_page_pebl_1 > .component-content{
        gap: 32px;
    }
    .spz_1028_v1 form .mktoFormRow{
        display: block;
    }

    .spz_1028_v1 #block--unique-id-1311 > .component-content{
        padding: 0 20px !important;
    }   

    .spz_1028_v1 .main-text-wrap > h1{
        font-size: 28px !important;
        letter-spacing: -0.6px !important;

        margin-bottom: 8px !important;
    }

    .spz_1028_v1 .tabs-container{
        padding: 28px 20px 32px 20px !important;
        border-radius: 24px;
    }
    .spz_1028_v1 .content-wrapper{
        padding: 0 !important;
        margin-bottom: 30px !important;
    }

    .spz_1028_v1 .marketo-form-item{
        margin-bottom: 8px !important;
    }

    .spz_1028_v1 .mktoHtmlText > p{
        text-align: left;
    }

    .spz_1028_v1 .marketo-recaptcha{
        transform: scale(0.92);
        -webkit-transform: scale(0.92);
    }
    .spz_1028_v1 .marketo-recaptcha > div:first-child{
        width: 280px !important;
    }

    .spz_1028_v1 .spz__partners-logos{
        margin-top: 32px;
        width: 100%;
        background: url("https://res.cloudinary.com/spiralyze/image/upload/v1761075222/pebl/1028/mob_logo.svg") no-repeat center center / cover;
        height: 68px;
        background-size: auto 68px;
    }
    .spz_1028_v1 .spz__partners-logos > img{
        display: none;
    }

    .spz_1028_v1 .footer-bottom-links-wrap{
        flex-direction: column;
        gap: 24px;
    }
    .spz_1028_v1 .component--form-banner.block-enhancements-contact_page_pebl_1 > .component-content .tabs-container .tabs-content .component--marketo-form .field--name-field-body{
        margin-bottom: 20px !important;
    }

    .spz_1028_v1 .mktoFieldPhone{
        margin-bottom: 10px !important;
    }   

    .spz_1028_v1 .spz__add-comment > p{
        transform: translateY(3px);    
    }
    .spz_1028_v1 .component--marketo-form .mktoFieldWrap.marketo-checkbox .mktoCheckboxList label{
        top: -2px;
    }

     .spz_1028_v1 .component--marketo-form .mktoButtonRow .marketo-recaptcha.customInvalid + .mktoError ~ .book-meeting-button {
        margin-top: 35px !important;
    }
}