@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Source+Sans+3:wght@400;600&display=swap');

.spz_4017_v1 .spz__plan-desc{
    padding: 60px 16px 0 16px;
    display: block !important;
}

.spz__plan-desc{
    display: none !important;
}

.spz_4017_v1 .spz__plan-desc > h5{
    color: #333;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;

    margin-bottom: 38px;
}

.spz_4017_v1 .spz__grid-items{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 290px);
    grid-gap: 24px;

    margin-bottom: 40px;
}

.spz_4017_v1 .spz__grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    padding: 24px;
    border-radius: 16px;
    border: 1.5px solid #DEE1E6;
    background: #F3F4F6;
}

.spz_4017_v1 .spz__grid-item > img{
    max-width: 100%;
    height: auto;
}

.spz_4017_v1 .spz__grid-item > div > strong{
    display: block;
    color: #333;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
    
    margin-bottom: 8px;
}

.spz_4017_v1 .spz__grid-item > div > p{
    color: #333;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.spz_4017_v1 .spz__plan-desc > a{
    color: #fff;
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    display: block;
    width: 124px;
    height: 40px;
    text-decoration: none;
    margin: 0 auto;
    outline: none;
    border: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    background: #F15320;
}

.spz_4017_v1 .spz__plan-desc > a:hover{
    opacity: 0.7;
}

@media(max-width: 991px){
    .spz_4017_v1 .spz__grid-items{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 16px;
    }
    .spz_4017_v1 .spz__grid-item{
        padding: 16px 24px;
        flex-direction: row;
        height: 164px;
    }
    
    .spz_4017_v1 .spz__grid-item > img{
        width: 241px;
    }
}

@media(max-width: 767.98px){
    .spz_4017_v1 .spz__grid-items{
        grid-template-columns: repeat(1,328px);
        margin-bottom: 42px;
    }

    .spz_4017_v1 .spz__grid-item{
        flex-direction: column;
        gap: 16px;
        padding: 16px;
        height: 100%;
    }
    
    .spz_4017_v1 .spz__grid-item > div > strong{
        line-height: 1.2;
    }

    .spz_4017_v1 .spz__grid-item:nth-child(5) > div > p{
        width: 94%;
    }

    .spz_4017_v1 .spz__plan-desc > h5{
        margin-bottom: 40px;
        margin-top: 20px;
    }
}

@media(max-width: 350px){
    .spz_4017_v1 .spz__plan-desc{
        padding: 0 8px;
    }   
    .spz_4017_v1 .spz__grid-items{
        grid-template-columns: repeat(1, 1fr);
    }
}